
<div class="container">
  <h1>Hero form</h1>
  <form #heroForm="ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input 
        type="text" 
        class="form-control" 
        id="name" 
        required
        [(ngModel)]="model.name"
        name="name"
      >
    </div>

    <div class="form-group">
      <label for="alterEgo">Alter Ego</label>
      <input type="text" class="form-control" id="alterEgo">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>

  <div class="form-group">
    <label for="power">Hero Power</label>
    <select id="power" class="form-control" required>
      <option [value]="pow" *ngFor="let pow of powers">{{ pow }}</option>
    </select>
  </div>
</div>